.navigation {
  margin: 0;
  background-color: rgb(33, 35, 42);
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: rgb(88, 180, 222);
}